<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.michaeljohnston.infosecurityapp">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChooseGameActivity" />
        <activity android:name=".LearningResourcesActivity" />
        <activity android:name=".SpamOrHamGame" />
        <activity android:name=".ScorePageActivity" />
        <activity android:name=".PhishingGameActivity" />
        <activity android:name=".ScoreScreenPhishActivity" />
        <activity android:name=".PasswordStrengthActivity"></activity>
    </application>

</manifest>